body{
font-family: Arial;
background:#e6e6e6;
text-align:center;
}

/* Title */
.title{
color:#ff0000;
font-size:35px;
}

/* Form */
form{
background:white;
padding:20px;
width:320px;
margin:auto;
border-radius:10px;
box-shadow:0 0 10px gray;
}

input{
width:100%;
margin:6px;
padding:8px;
}

button{
background:#ff0000;
color:white;
padding:10px;
border:none;
cursor:pointer;
font-size:16px;
border-radius:5px;
}

button:hover{
background:#cc0000;
}

/* PVC Card */
.pvc-card{
width:900px;
margin:30px auto;
border:6px solid #ff0000;
background:white;
border-radius:10px;
box-shadow:0 0 15px gray;
}

/* Header */
.header{
background:#ff0000;
color:#ffff00;
padding:15px;
font-size:28px;
font-weight:bold;
}

.header p{
font-size:18px;
margin-top:5px;
}

/* Card body */
.card-body{
display:flex;
align-items:center;
padding:20px;
background:linear-gradient(to right, #ff0000, #ffff00, #ff0000);
}

/* Left section */
.left{
width:25%;
}

.user-photo{
width:150px;
border:4px solid white;
border-radius:10px;
}

/* Middle section */
.middle{
width:45%;
text-align:left;
font-size:18px;
font-weight:bold;
}

/* Right section */
.right{
width:30%;
}

.vijay{
width:220px;
}
